.contact-section {
  padding: 0;
  margin-bottom: 94px;

  &__container {
    display: flex;
    justify-content: center;
    gap: 32px;
  }

  &__map {
    flex-shrink: 0;
    border-radius: 32px;
    border: none;
  }

  &__form {
    width: 410px;
    background-color: var(--beauty-brand-dark);
    border-radius: 32px;
    padding: 48px 56px;
  }

  &__form-title {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: var(--beauty-landing-additional);
    margin-bottom: 32px;
  }

  &__form-field {
    margin-bottom: 16px;
  }

  &__button {
    display: block;
    margin: 0 auto 16px;
  }
}
